@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.btn-primary {
  @apply w-full bg-primary dark:bg-dark-bg text-white dark:text-dark-text py-3 rounded-lg hover:bg-accent dark:hover:bg-dark-accent transition-colors;
}

/* Secondary Button */
.btn-secondary {
  @apply w-full bg-gray-500 dark:bg-gray-600 text-white dark:text-dark-text py-3 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-500 transition-colors;
}

/* Danger Button */
.btn-danger {
  @apply w-full bg-red-600 dark:bg-red-700 text-white dark:text-dark-text py-3 rounded-lg hover:bg-red-500 dark:hover:bg-red-600 transition-colors;
}

/* Disabled Button */
.btn-disable {
  @apply w-full bg-gray-300 dark:bg-gray-500 text-gray-500 dark:text-gray-400 py-3 rounded-lg cursor-not-allowed opacity-50;
}

.color-transition {
  @apply transition-colors duration-150 ease-in-out;
}
