@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}

/* ? Remove spinners from number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* ? customs commons */

.min-hight-custom {
  @apply min-h-[calc(100vh-8rem)];
}

/* ? buttons */

.btn-primary {
  @apply px-4 py-2 bg-primary text-white font-semibold rounded-lg hover:bg-accent dark:bg-dark-primary dark:text-dark-text dark:hover:bg-dark-accent dark:focus:ring-dark-accent color-transition;
}

.btn-secondary {
  @apply px-4 py-2 bg-backgroundLight-dark text-textDark font-medium rounded-lg 
         hover:bg-accent hover:text-black dark:bg-dark-bg-light dark:text-dark-text dark:hover:bg-dark-primary dark:hover:text-white color-transition;
}

.btn-danger {
  @apply px-4 py-2 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-400 color-transition;
}

.btn-disable {
  @apply px-4 py-2 bg-backgroundLight-dark text-gray-400 font-medium rounded-lg cursor-not-allowed dark:bg-dark-bg-light dark:text-gray-500;
}

.color-transition {
  @apply transition-colors duration-150 ease-in-out;
}

/* ? custom scroll */

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #68d391;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f7fafc;
  }

  .custom-scrollbar-dark::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #38b2ac;
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-track {
    background-color: #1a202c;
  }
}

.custom-scrollbar-style {
  @apply custom-scrollbar dark:custom-scrollbar-dark;
}

/* ? Toastify overwrite classes */
.Toastify__close-button--light {
  @apply text-black dark:text-white font-bold h-4 w-4;
}

.Toastify__close-button > svg {
  fill: currentColor;
  height: 1rem !important;
  width: 1rem !important;
}

.toastify-custom-notification {
  @apply dark:bg-dark-bg dark:text-dark-text dark:border dark:border-slate-400;
}
